<div class="row" style="margin-top:5%">
  <div class="col-md-4 offset-md-4">
    <div class="row">
      <div class="col-md-8 offset-md-2" style="text-align:center">
        <img src="/images/logo.png" alt="Todo" class="img-fluid" style="max-width:35%">
      </div>
    </div>
    <div class="row" style="margin-top:4%;">
      <div class="col-md-12" style="text-align:center;">
        <h1 style="font-size:24px;font-weight:300;letter-spacing:-0.5px">Register</h1>
      </div>
    </div>
    <% include ./partials/messages %>
    <div class="row" style="margin-top:4%">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form method="post" action="/users/register">
              <div class="form-group">
                <label for="name">Name</label> <span style="color:red">*</span>
                <input type="text" class="form-control" id="name" name="name" value="<%= typeof name !='undefined' ? name : '' %>"/>
              </div>
              <div class="form-group">
                <label for="email">Email</label> <span style="color:red">*</span>
                <input type="text" class="form-control" id="email" name="email" value="<%= typeof email !='undefined' ? email : '' %>"/>
              </div>
              <div class="form-group">
                <label for="password">Password</label> <span style="color:red">*</span>
                <input type="password" class="form-control" id="password" name="password" value="<%= typeof password !='undefined' ? password : '' %>">
              </div>
              <div class="form-group">
                <label for="password2">Confirm Password</label> <span style="color:red">*</span>
                <input type="password" class="form-control" id="password2" name="password2" value="<%= typeof password2 !='undefined' ? password2 : '' %>">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:5%;">
      <div class="col-md-12" style="text-align:center;">
        <h1 style="font-size:15px;font-weight:300">&copy Gaurav Dwivedi 2019. All rights reserved.</h1>
      </div>
    </div>
  </div>
</div>
